@use "styles/palette" as palette;

* {
    font-family: "NotoSansThai-Regular", sans-serif !important;
}

.confirm-modal {
    background-color: #fff;
    border-radius: 8px;
    color: #000;

    .mat-mdc-dialog-title {
        color: #000;
    }
    .mat-mdc-dialog-content {
        color: #333;
    }
}
.dialog-actions {
    button {
        border: none;
        margin-right: 8px;
        padding: 10px 12px;
        font-size: 16px;
        width: 80px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        }

        &.action-cancel {
            color: palette.$color-medium;
            background-color: #fff;
            border: 1px solid palette.$color-medium;
        }
        &.action-confirm {
            background-color: palette.$color-error;
            color: #fff;
        }
    }
}
