/* You can add global styles to this file, and also import other style files */
@use "styles/index" as *;

* {
    font-family: "NotoSansThai-Regular", sans-serif;
}

.mdc-list-item__primary-text {
    font-family: "NotoSansThai-Regular", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }
}
